body {
    margin: 0;
    background-color: #151515;
    }

.logo-content {
    background-image: url(../img/photo.png);
    display: flex;
flex-direction: column;
justify-content: center;
height: 620px;
}

@media screen and (max-width: 1281px) {
    .logo-content {
        height: 800px;
    }
}

@media screen and (max-width: 767px) {
    .logo-content {
        height: 900px;
    }
}

@media screen and (max-width: 547px) {
    .logo-content {
        height: 1000px;
    }
}

.p {
width: 50vw;
height: auto;
font-family: 'PT Sans';
font-style: normal;
font-size: 20px;
text-align: center;
color: #FFFFFF;
margin: 0 auto;
}

.header {
    background-color: #FDB913;
    width: 95vw;
    margin: 0 auto;
}

.nav {
    text-decoration: none;
    margin: 0 15px;
    color: #000000;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

nav {
    text-align: center;
    margin: 0 auto:
}

.o-nas {
    width: 95vw;
    margin: 0 auto;

}

.o-nas-img {
    width: 100vw;
    height: 90vh;
    margin: 0 auto;
    margin: 3px 12px 0px 0px;
}

.text-o-nas {
font-family: 'PT Sans';
font-style: normal;
font-size: 16px;
line-height: 41px;
display: flex;
align-items: top;
text-transform: uppercase;
color: #fdfdfd;

}

.first-word {
    color: #FDB913;
}

.carta {
    width: 50vw;
    margin: 0 auto;
    margin: 3px 50px 0px 0px;
}

.white-img {
    width: 20px;
height: 20px;
}