body {
    margin: 0;
    background-color: #151515;
    }
/*оформление логотипа с текстом в диве*/
.logo-content {
    background-image: url(../img/photo.png);
    display: flex;
flex-direction: column;
justify-content: center;
height: 620px;
}
/*размер лого под экраны*/
@media screen and (max-width: 1281px) {
    .logo-content {
        height: 800px;
    }
}

@media screen and (max-width: 767px) {
    .logo-content {
        height: 900px;
    }
}

@media screen and (max-width: 547px) {
    .logo-content {
        height: 1000px;
    }
}

/*оформление текста*/
.p {
width: 50vw;
height: auto;
font-family: 'PT Sans';
font-style: normal;
font-size: 20px;
text-align: center;
color: #FFFFFF;
margin: 0 auto;
}

/*шапка с ссылками*/
.header {
    background-color: #FDB913;
    width: 95vw;
    margin: 0 auto;
}

/*оформление текста (ссылки) в header*/
.nav {
    text-decoration: none;
    margin: 0 15px;
    color: #000000;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

nav {
    text-align: center;
    margin: 0 auto:
}

.o-nas {
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 30px;
}

.o-nas-img {
    display: flex;
    flex-direction: row;
    height: 750px;
    margin: 3px 30px 0px 0px;
}

.text-o-nas {
font-family: 'PT Sans';
font-style: normal;
font-size: 16px;
line-height: 41px;
display: absolute;
align-items: top;
text-transform: uppercase;
color: #fdfdfd;


}

.first-word {
    color: #FDB913;
}

.carta {
    width: 50vw;
    margin: 0 auto;
    margin: 3px 30px 30px 0px;
    height: 250px;
}

.orange {
    color: #FDB913;
}

.white {
    color: #ffffff;
}

.bel {
    width: 20px;
    height: 20px;
}


.tel {
    width: 30px;
    height: 20px;
}

.p-contact {
    font-family: 'PT Sans';
font-style: normal;
font-size: 16px;
line-height: 40px;
display: flex;
align-items: top;
text-transform: uppercase;
color: #fdfdfd;
width: 80vw;
margin: 0 auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98.8vw;
    height: 30vh;
    background: #393939;
    line-height: 41px;
}

.img-footer {
    width: 30vw;
    height: auto;
}

